html {
	font-family: 'Roboto', sans-serif;
	color: #212121;
	font-size: 1vw;
}

body {
	margin: 0;
	padding: 1em;
}

#root {
	display: flex;
	justify-content: center;
}

.grid {
	display: grid;
	text-align: center;
	width: 80vw;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
}

.grid > div {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;

	width: 15vw;
	height: 15vw;
	background: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border-radius: 3px;
}

.grid img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	border-radius: 50%;
	width: 7vw;
	height: auto;
}