.yellow {
	--text-color: #DD922C;
	--background-color: #FEE298;
	--shadow-color: #DD922C;
}

.green {
	--text-color: #409C79;
	--background-color: #79E8BD;
	--shadow-color: #409C79;
}

.button {
	position: relative;
	background: var(--background-color);
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-weight: 600;
	color: var(--text-color);
	font-size: 1.5rem;
	padding: 0.5rem;

	border: 0;
	top: -2px;
	box-shadow: 0px 4px 0 0px var(--shadow-color);
}

i {
	font-size: 1.5rem !important;
}

.button:hover {
	top: -4px;
	box-shadow: 0px 6px 0 0px var(--shadow-color);
}

.button:active, .button.clicked {
	top: 0px;
	box-shadow: 0 2px 0 0 var(--shadow-color);
}
