@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
	font-size: 1.5vw;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#root > * {
	margin: 10px;
}

h1 {
	font-family: inherit;
	font-size: 8rem;
	color: #212121;
}